<ion-content>
    <ion-list width="100%" *ngIf="displayMode==='GALLERY'">

        <ion-item>
            <ion-select placeholder="Select a Month" [(ngModel)]="filterBy" interface="popover">
                <ion-select-option *ngFor="let opt of selectOptions" value={{opt}}>{{opt}}</ion-select-option>

            </ion-select>
        </ion-item>
               
        <ion-grid width="100%">
            <ion-row>
                <ion-col>
                    <ion-button expand="block" (click)="filter()">Filter</ion-button>
                </ion-col>

                <ion-col>
                    <ion-button expand="block" (click)="close()">Cancel</ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="filterBy !=''">
                <ion-col>
                    <ion-button expand="block" (click)="clear()">Clear Filter</ion-button>
                </ion-col>
            </ion-row>
            
        </ion-grid>
    </ion-list>
</ion-content>
<ion-content id="content" class="radio-test outer-content">
    <ion-list *ngIf="displayMode==='ALBUM'">
        <ion-radio-group [(ngModel)]="currAlbum">
            <ion-item-divider>
                <ion-label>Choose an Album</ion-label>
            </ion-item-divider>
            <ion-list>
                <ion-item *ngFor="let opt of selectOptions">
                    <ion-label>{{opt}}</ion-label>
                    <ion-radio slot="end" value={{opt}}></ion-radio>
                </ion-item>


            </ion-list>
        </ion-radio-group>
        <ion-button expand="block" (click)="AddToAlbum()">Add to Album</ion-button>
    </ion-list>
    
</ion-content>
