<!--<ion-header>
    <ion-toolbar>
        <ion-back-button (click)="goback()" slot="start"></ion-back-button>
        <ion-title>Gallery</ion-title>
    </ion-toolbar>

</ion-header>-->
<!--text-center  class="vertical-align-content"-->
<ion-content background-color="black">

    <!--<div align="center" style="background-color:black;color:white;">{{strAlbum}}</div>-->
    <!--<ion-slides style="height:100vh; background:black;" scrollbar="true" pager="false" sliderperview="2" (ionSlideDidChange)="slideChanged()">-->
    <ion-slides style="height:100vh; background:black;" pager="false" sliderperview="2" (ionSlideDidChange)="slideChanged()">

        <ion-slide style="height:100vh;" background-color="red" *ngFor="let img of imgUrls">

            <div class="swiper-zoom-container">
                <img title={{strAlbum}} id={{img.imgUrl}} (load)="loaded(img.index)" src={{img.imgUrl}} class="thumb-img" style=" display: block;  padding:5px; height: auto; margin: auto; " imageViewer />

            </div>
        </ion-slide>
    </ion-slides>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button (click)="goback()" color="light" ion-fab mini><ion-icon name="ios-arrow-back"></ion-icon></ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="share()" color="secondary" ion-fab mini><ion-icon name="share"></ion-icon></ion-fab-button>
    </ion-fab>
    <ion-fab id="AddToAlbum" vertical="bottom" horizontal="end" slot="fixed" *ngIf="hasAlbum === false">
        <ion-fab-button (click)="presentPopover($event)" color="tertiary" ion-fab mini><ion-icon name="filing"></ion-icon></ion-fab-button>
    </ion-fab>
    <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="deleteImage()" color="danger" ion-fab mini><ion-icon name="ios-trash"></ion-icon></ion-fab-button>
    </ion-fab>-->
    <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="hasAlbum === true">
        <ion-fab-button (click)="removeFromAlbum()" color="danger" ion-fab mini><ion-icon name="remove"></ion-icon></ion-fab-button>
    </ion-fab>-->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" mini>
            <ion-icon name="more"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button *ngIf="hasAlbum === true" (click)="removeFromAlbum()" color="secondary" ion-fab mini><ion-icon name="remove"></ion-icon></ion-fab-button>
            <ion-fab-button (click)="deleteImage()" color="danger" ion-fab mini><ion-icon name="ios-trash"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button mini>
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button class="fab-button"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
            <ion-fab-button (click)="fab_clicked('FACEBOOK','BLA_BLA')"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button><ion-icon name="email"></ion-icon></ion-fab-button>

        </ion-fab-list>
    </ion-fab>-->
    <div align="center" style="background-color:black;color:white;">{{strAlbum}}</div>
</ion-content>