<!--<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>-->
<ion-app>
    <ion-menu>
        <ion-header>
            <ion-toolbar>
                <ion-title>Settings</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content padding>
            <!--<ion-list>
        <ion-menu-toggle *ngFor="let p of appPages">
            <ion-item [routerLink]="p.url" [routerDirection]="'forward'">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>{{p.title}}</ion-label>
            </ion-item>
        </ion-menu-toggle>
    </ion-list>-->
            <form id="page-form1">
                <ion-label color="primary">Credentials</ion-label>
                <ion-item>
                    <ion-label color="tertiary" position="stacked">User Name</ion-label>
                    <ion-input type="text" name="username" [(ngModel)]="UserID"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label color="tertiary" position="stacked">Password</ion-label>
                    <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <br />
                <div>  </div>
                <ion-label color="primary">Image Grid display settings</ion-label>
                <ion-item>
                    <ion-label color="secondary" position="stacked">Images per line</ion-label>
                    <ion-input type="number" name="imgPerRow" [(ngModel)]="imgPerRow"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="secondary" position="stacked">Rows per page</ion-label>
                    <ion-input type="number" name="rowsPerPage" [(ngModel)]="rowsPerPage"></ion-input>
                </ion-item>
                <br />
                <div>  </div>
                <ion-label color="primary">Service version</ion-label>
                <ion-item>
                    <ion-label color="secondary" position="stacked">Select Service version</ion-label>
                    <ion-select  name="serviceVersion" [(ngModel)]="serviceVersion">
                        <ion-select-option value="P">Production</ion-select-option>
                        <ion-select-option value="A">Android</ion-select-option>
                        <ion-select-option value="B">Browser</ion-select-option>
                    </ion-select>
                    
                </ion-item>
                <div padding>
                    <ion-button size="large" (click)="saveSetting()" expand="block">Save</ion-button>
                </div>
            </form>
        </ion-content>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>

</ion-app>