<!--<ion-header>
    <ion-toolbar>
        <ion-back-button (click)="goback()" slot="start"></ion-back-button>
        <ion-title>Gallery</ion-title>
        <ion-buttons slot="end">
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>-->
<ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="goback()">
            <ion-icon color="light" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{strHeading}}</ion-title>
    <ion-buttons slot="end">
        <ion-button  color="primary" (click)="presentPopover($event)">
            <ion-icon color="light" slot="icon-only" name="funnel"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
<!--text-center  class="vertical-align-content"-->

<ion-toolbar>
    <!--<ion-item>-->
    <!--<ion-buttons slot="start">
        <ion-button color="light" (click)="loadPrevPage()" [disabled]= "loadPrevDisabled()">
            <ion-icon color="primary" slot="icon-only" name="skip-backward"></ion-icon>
        </ion-button>
    </ion-buttons>-->
    <p style="color: darkred;font-size:12px;">Current Filter: {{viewString}}</p>
    <!--<ion-buttons slot="end">
        <ion-button color="light" (click)="loadNextPage()" [disabled]= "disableLoadNext()">
            <ion-icon color="primary" slot="icon-only" name="skip-forward"></ion-icon>
        </ion-button>
    </ion-buttons>-->
        <!--</ion-item>-->
</ion-toolbar>
<ion-content>
    <div class="swiper-container">
    <ion-slides   pager="false" sliderperview="2" (ionSlideDidChange)="slideChanged()">

        <ion-slide style="align-items: flex-start;" *ngFor="let slide of localGrid">
            
            <ion-grid style="width:100%;">
                    <!--<ion-row *ngFor="let row of localGrid">-->
                    <ion-row *ngFor="let row of slide">
                        <ion-col *ngFor="let file_uri of row" style="padding:2px;">
                            <!-- <img src="{{file_uri}}" (click)="LoadImage(file_uri)" style="width:100%; display: block;-->
                            <!--<div class="square" (click)="LoadImage(file_uri)" style="background-image: url(https://s3-us-west-2.amazonaws.com/azcommunityimages//Thumbnails/APP-01-04-2016-150909.png)"></div>-->

                            <div (click)="LoadImage(file_uri.index)" class="square" [style.background-image]="'url(' + file_uri.url + ')'"></div>
                            <!--<img class="image_error" src={{file_uri.url}} (load)="loaded(file_uri.url)">-->

                        </ion-col>
                        
                    </ion-row>
            </ion-grid>
            
        </ion-slide>
     </ion-slides>
    </div>

           
</ion-content>
